[submodule "third-party/eigen"]
	path = third-party/eigen
	url = https://github.com/RLovelett/eigen.git
[submodule "third-party/rrt"]
	path = third-party/rrt
	url = https://github.com/RoboJackets/rrt.git
[submodule "third-party/fcl"]
	path = third-party/fcl
	url = https://github.com/flexible-collision-library/fcl.git
[submodule "third-party/ompl.app"]
	path = third-party/ompl.app
	url = git@github.com:xinyazhang/ompl.app.git
	branch = goct-1.4.1
[submodule "third-party/libgeokey"]
	path = third-party/libgeokey
	url = git@gitlab.com:belfer2470/important-points-and-key-configurations.git
	branch = linux
