elk/PDS3k.mlx
elk/Puzzle(1.05).cfg
elk/Puzzle-CounterPart-Possion(12,8,4,1.1).ply
elk/Puzzle-CounterPart-Possion.obj
elk/Puzzle-Part-Possion(12,8,4,1.1).ply
elk/Puzzle-Part-Possion-HiRes.obj
elk/Puzzle-Part-Possion.obj
elk/test.obj
simple/Elk.ply
simple/ElkMeetsCube.obj
simple/ElkMeetsCube.ply
simple/FixedElkMeetsCube.obj
simple/box.path
simple/boxwithhole.blend
simple/boxwithhole.blend1
simple/boxwithhole2.ply
simple/boxwithhole2_cvx.wrl
simple/cvx/log.txt
simple/cvx/recur.cvx.19.wrl
simple/log.txt
simple/mFixedElkMeetsCube.ply
simple/robot-for-torus.obj
simple/sticktorus.path
simple/ElkMeetsCube.mtl
simple/FullTorus.mtl
simple/LongStick.mtl
simple/Torus.mtl
simple/Torus.obj.mtl
simple/boxwithhole2.mtl
simple/cvx/boxrefine/
simple/env2.mtl
simple/mediumstick.mtl
