*.mtl

elk/PDS3k.mlx
elk/Puzzle(1.05).cfg
elk/Puzzle-CounterPart-Possion(12,8,4,1.1).ply
elk/Puzzle-CounterPart-Possion.obj
elk/Puzzle-Part-Possion(12,8,4,1.1).ply
elk/Puzzle-Part-Possion-HiRes.obj
elk/Puzzle-Part-Possion.obj
elk/test.obj
simple/Elk.ply
simple/ElkMeetsCube.obj
simple/ElkMeetsCube.ply
simple/FixedElkMeetsCube.obj
simple/box.path
simple/boxwithhole.blend
simple/boxwithhole.blend1
simple/boxwithhole2.ply
simple/boxwithhole2_cvx.wrl
simple/cvx/log.txt
simple/cvx/recur.cvx.19.wrl
simple/log.txt
simple/mFixedElkMeetsCube.ply
simple/robot-for-torus.obj
simple/sticktorus.path
simple/cvx/boxrefine/

alpha/blend-1.obj
alpha/double-alpha-1.2-part-a.obj
alpha/double-alpha-1.2-part-b.obj
alpha/double-alpha-1.2.wt.tcp2.obj
alpha/out.svg
dual/blend-1.obj
dual/blend-2.obj
dual/dual.1.face
dual/dual.1.node
dual/dual.dt.tcp.ply
dual/dual.ply
dual/dual_3.obj
dual/dual_3.ply
dual/dual_tiny.gt.npz
dual/knotted_ring.1.edge
dual/knotted_ring.1.ele
dual/knotted_ring.1.face
dual/knotted_ring.1.node
dual/knotted_ring.1.smesh
dual/knotted_ring.ply
dual/out.svg
dual/ring.blend
dual/ring.blend1
elk/Elk-ls1.0-ver1.path
elk/Puzzle-CounterPart-1.0-32-centralized.obj
elk/Puzzle-CounterPart-Fused.obj
elk/Puzzle-Elk.zip
elk/Puzzle-Part-1.0-32-centralized.obj
elk/Puzzle-Part-MC120K.obj
elk/Puzzle-Part-Possion-Ver2.ply
elk/Puzzle-Part-Possion-Ver3.obj
elk/Puzzle-Part-Possion-Ver4.obj
elk/Puzzle-Part-Sample56341.obj
simple/box.tcp.ply
simple/box.tcp.png
